.container {

  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  align-self: center;
}

a {
  text-decoration: none;
  color: black;
}

button {
  margin: 10px;
  font-size: 20px;
}

button:hover {
  background-color: #afafaf;
}

table {
  border-collapse: separate;
  width: 98%;
  margin: 30px;
  border: 2px solid #d1d1d1;
  text-align: center;
  font-size: x-large;
  max-width: 95%;

}


td {
  width: 50%;

}

table tr:nth-child(odd) {
  background-color: #52B8D1;

}

table tr:nth-child(even) {
  background-color: #5ACCB7;
}


body {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #272727;
  justify-content: center;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

}