.container {

  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  align-self: center;
}


button {
  margin: 5%;
  font-size: 20px;
}

button:hover {
  background-color: #afafaf;
}

table {
  border-collapse: separate;
  margin: 30px;
  border: 2px solid #d1d1d1;
  text-align: center;
  font-size: medium;
  width: auto;

}


table tr {
height: 10px;
background-color: cadetblue;
}



body {
width: fit-content;
  background-color: #272727;
  color: white;

}